body {
    background-image: url("https://wallpapers.com/images/hd/doge-wow-meme-ivmgru0y5lsdop0s-ivmgru0y5lsdop0s.jpg");
    /* background-color: #cccccc; */
    color: white;
    font-weight: bold; 
   }

   /* is there a way to resize my background image to show the whole thing? */
